*{font-family: Trattatello, fantasy
}



header {
    align-items:center;
    font-size: 36px;
    display: flex;
    flex-wrap:wrap;
    align-content: space-between;
    height: 30 px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../images/221870.jpg');
    background-size:cover;
    background-position: center;
    
}

header ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center
}

header ul li{
    list-style: none;
    display: inline;
    padding: 60px;
}

.headings {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.align-right {
    float: right;
  
}

.headings h2 {
    padding: 30px;
    align-items: center;
    text-align: center;
}

.image {
    height:300px;
    margin: 100px auto 100px ;
    text-align: center;
}


.divider {
    background-image: url('../images/border 3.jfif');
    background-size: contain;
    height: 50px;
    border-bottom: solid 3px rosybrown;
    display: flex;
    
}

.headings { background-color:rgb(173, 119, 2)

}

.headings p {
    margin:100px auto 100px auto;
    text-align: center;
}

.about-me {
    background-color:rgb(173, 119, 2)
}

a {
color: rosybrown
}

a:visited {
    color: beige;
}

a:hover {
    color:chocolate
}

.contact-form {
    padding: 50px 100px 50px 100px;
}

.work {
    object-fit: cover;
    margin: 100px auto 100px auto
}

.work:hover {
    transform: scale(1.5); 
}